certbot==4.0.0
certbot-dns-cloudflare==4.0.0
certbot-dns-digitalocean==4.0.0
certbot-dns-dnsimple==4.1.0
certbot-dns-dnsmadeeasy==4.0.0
certbot-dns-gehirn==4.0.0
certbot-dns-google==4.0.0
certbot-dns-linode==4.0.0
certbot-dns-luadns==4.0.0
certbot-dns-nsone==4.0.0
certbot-dns-ovh==4.0.0
certbot-dns-rfc2136==4.0.0
certbot-dns-route53==4.0.0
certbot-dns-sakuracloud==4.0.0
django-prometheus==2.3.1
django-python3-ldap==0.15.8
django-ses==4.4.0
django-storages[s3]==1.14.6
dj-database-url==3.0.0
kiwitcms-github-app==2.1.0
kiwitcms-tenants==4.1.0
kiwitcms-trackers-integration==1.1.0
psycopg-pool==3.2.6
python3-saml==1.16.0
sentry-sdk[django]==2.29.1
social-auth-app-django==5.4.3
social-auth-kerberos==0.3.0
