certbot==3.1.0
certbot-dns-cloudflare==3.1.0
certbot-dns-digitalocean==3.1.0
certbot-dns-dnsimple==3.1.0
certbot-dns-dnsmadeeasy==3.1.0
certbot-dns-gehirn==3.1.0
certbot-dns-google==3.1.0
certbot-dns-linode==3.1.0
certbot-dns-luadns==3.1.0
certbot-dns-nsone==3.1.0
certbot-dns-ovh==3.1.0
certbot-dns-rfc2136==3.1.0
certbot-dns-route53==3.1.0
certbot-dns-sakuracloud==3.1.0
django-prometheus==2.3.1
django-python3-ldap==0.15.8
django-ses==4.4.0
dj-database-url==2.3.0
kiwitcms-github-app==2.0.1
kiwitcms-tenants==4.0.0
kiwitcms-trackers-integration==1.1.0
sentry-sdk[django]==2.20.0
social-auth-app-django==5.4.2
social-auth-kerberos==0.3.0
python3-saml==1.16.0
